<h1>Welcome</h1>

<p>We are currently working on your account.</p>
Balance: <%= current_user.balance%>

<form action="/account" method="POST">
    Deposit/Widthdraw: <input type="string" name="change">
    <input type="submit" value="submit">
</form>

<p><a href="/logout">Log Out</a></p>
